body {
    background-color:grey;
}
header {
    color:whitesmoke;
}

h1{
    color:cyan;
}

a {
    color:blueviolet;
}

p {
    color:lightskyblue;
}

time {
    color:aqua;
}

.cobarde {
    color:aquamarine;
}