body {
    background-color:green;
}
header {
    color:whitesmoke;
}

h1{
    color:cyan;
}

a {
    color:blueviolet;
}

p {
    color:lightskyblue;
}

cobarde {
    color:lightblue;
}

time {
    color:aqua;
}